#map {
  height: 300px;
  will-change: auto;
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#appTabbar {
  position: fixed;
}
.button {
  margin-top: 5px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: rgb(182, 87, 182);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#col .page__background {
  background-color: rgb(253, 226, 253);
}

.colour {
  background: blue;
}
#profilePicture {
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
p {
  padding-left: 10px;
}

h3 {
  text-align: center;
}
.checked {
  color: rgb(247, 125, 206);
}

.hero {
  float: right;
}
.intro {
  text-align: center;
  padding: 0 20px;
  margin-top: 40px;
}
ons-card {
  cursor: pointer;
  color: #333;
}
.card__title,
.card--material__title {
  font-size: 20px;
}

#cardstyle1 {
  background: rgb(248, 168, 217);
}

#cardstyle2 {
  background: rgb(225, 168, 248);
}

#cardstyle3 {
  background: rgb(189, 168, 248);
}

ons-tab {
  background: rgb(248, 168, 217);
}
