#map {
  height: 300px;
  will-change: auto;
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
}

#appTabbar {
  position: fixed;
}
.button {
  margin-top: 5px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: rgb(182, 87, 182);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#col .page__background {
  background-color: rgb(253, 226, 253);
}

.colour {
  background: green;
}
#profilePicture {
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
p {
  padding-left: 10px;
}

h3 {
  text-align: center;
}
.checked {
  color: rgb(247, 125, 206);
}

.hero {
  float: right;
}
.intro {
  text-align: center;
  padding: 0 20px;
  margin-top: 40px;
}
ons-card {
  cursor: pointer;
  color: #333;
}
.card__title,
.card--material__title {
  font-size: 20px;
}

#cardstyle1 {
  background: rgb(248, 168, 217);
}

#cardstyle2 {
  background: rgb(225, 168, 248);
}

#cardstyle3 {
  background: rgb(189, 168, 248);
}

ons-tab {
  background: rgb(247, 137, 210);
}

#backbtn {
  color-adjust: #333;
}

.slider {
  -webkit-appearance: none;
  width: 90%;
  height: 10px;
  margin-left: 5%;
  background: rgb(250, 169, 223);
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 6px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgb(196, 97, 163);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgb(228, 123, 193);
  cursor: pointer;
}

.textinput {
  width: 90%;
  height: 70px;
  margin-left: 5%;
  border: 0px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.checkbox {
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.sliderOutput {
  float: right;
  padding-right: 10%;
}

#userButtons {
  position: absolute;
  bottom: 80px;
  text-align: center;
  width: 70%;
  margin-right: 15%;
  margin-left: 15%;
  flex-grow: 1;
}

#profilePicture {
  border-style: inset;
  border-width: 7px;
  border-radius: 10px;
}
